body {
    padding: 10px 10px 30px;
}
h1 {
    font-size: 24px;
    text-align: center;
    line-height: 0.5;
}

p {
    line-height: 1.5;
}

ol {
    margin-bottom: 20px;
}

li {
    padding-left: 20px;
    position: relative;
}
ol {
    display: block;
    padding: 0 0 0 26px;
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
}
ol li:before {
    counter-increment: numList;
    content: counter(numList);
    float: left;
    position: absolute;
    left: -26px;
    font: bold 12px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 30px;
    width: 30px; height: 30px;
    background: #FF6400;
    -moz-border-radius: 999px;
    border-radius: 999px
}

button {
    background-color: #FF6400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.router-btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
    height: 48px;
    padding: 5px 20px;
}

image {
    height: 579px;
    width: 343px;
}

.attribution {
    font-size: 12px;
    text-align: right;
}
.txt-red {
    color:#FF6400;
}
.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 170px;
    margin-right: 10px;
}

.nav-text {
    font-size: 18px;
}

/* Consulting form*/
form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
}

select {
    height: 43px;
    border-radius: 8px;
    border-style: solid;
    border-color: #C7C7CC;
    justify-content: space-between;
    width: 90%;
    padding: 5px 19px;

}
select {
    height: 58px;
    width: 100%;
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-repeat: no-repeat;
    background-position: right 0.5rem center
}
#year {
    background-image: url(../assets/images/calendar.svg);
}
#address {
    background-image: url(../assets/images/chevron.down.svg);
}
/* Radio Gender*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container label {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    z-index: 10;
    margin: 0 0 10px 0;
    position: relative;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(236, 8, 8, 0.1);
    font-weight: bold;
    background-color: #F2F2F7;
    cursor: pointer;
    transition: all 200ms ease;
    height: 100px;
    width: 100px;
}

input[type="radio"] + label {
    border-radius: 50%;
}
#male:checked + label .fa-mars  {
    color:#fff;
}
#male:checked + label{
    background-color: #007AFF;
}
#female:checked + label .fa-venus {
    color: #fff;
}
#female:checked + label{
    background:#FF2D55;
}
.fa-mars {
    color: #007AFF;
}
.fa-venus {
    color: #FF2D55;
}


.label-txt {
 width: 100px;
}

