@media only screen and (min-width: 800px) {
    .router-btn {
        width: 100%;
    }

    .modal-button-container {
        width: 100%;
    }
}
body {
    padding: 10px 10px 30px;
    background-color: #ffffff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    }

.frame {
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 0 100px 0;
    box-sizing: border-box;
    height: auto;
}

h1 {
    font-size: 24px;
    text-align: center;
    line-height: 0.5;
}

p {
    line-height: 1.5;
}

ol {
    margin-bottom: 20px;
}

.custom-circle-list li {
    padding-bottom: 20px;
    padding-left: 20px;
    position: relative;
}

ol {
    display: block;
    padding: 0 0 0 26px;
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
}

ol li:before {
    counter-increment: numList;
    content: counter(numList);
    float: left;
    position: absolute;
    left: -26px;
    font: bold 12px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: #FF6400;
    -moz-border-radius: 999px;
    border-radius: 999px
}

button {
    background-color: #FF6400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.router-btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 48px;
    padding: 5px 20px;
    width: calc(100% - 36px);
    max-width: 768px;
}

image {
    height: 579px;
    width: 343px;
}

.attribution {
    font-size: 12px;
    text-align: right;
}

.txt-red {
    color: #FF6400;
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 170px;
    margin-right: 10px;
}

.nav-text {
    font-size: 16px;
    font-weight: 700;
}

/* Consulting form*/
form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
}

select {
    border-radius: 8px;
    border-style: solid;
    border-color: #C7C7CC;
    padding: 5px 19px;

}

select {
    height: 58px;
    width: 100%;
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-color: #ffffff;
}

#year {
    background-image: url(../assets/images/calendar.svg);
}

#address {
    background-image: url(../assets/images/chevron.down.svg);
}

/* Radio Gender*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container label {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    z-index: 10;
    margin: 0 0 10px 0;
    position: relative;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(236, 8, 8, 0.1);
    font-weight: bold;
    background-color: #F2F2F7;
    cursor: pointer;
    transition: all 200ms ease;
    height: 100px;
    width: 100px;
}

input[type="radio"] + label {
    border-radius: 50%;
}

#male:checked + label .fa-mars {
    color: #fff;
}

#male:checked + label {
    background-color: #007AFF;
}

#female:checked + label .fa-venus {
    color: #fff;
}

#female:checked + label {
    background: #FF2D55;
}

.fa-mars {
    color: #007AFF;
}

.fa-venus {
    color: #FF2D55;
}

.label-txt {
    width: 100px;
}

/* Time life */
.life-plan-container {
    overflow-y: hidden;
}
.hidden {
    display: none;
}

/* Bottom modal */
.modal-button-container {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 20px;
    width: calc(100% - 36px);
    max-width: 768px;
}

.modal-button {
    position: fixed;
    bottom: 0;
    right: 20px;
    text-align: center;
    height: 35px;
    padding: 5px 20px;
    width: 30%;
    background-color: #F2F2F7;
    box-shadow: 0 0 2px 0 #00000040;
    color: #000;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.show {
    display: block;
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.hide {
    display: none;
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    padding: 5px 20px;
    width: calc(100% - 36px);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.1s;
    animation-name: slideIn;
    animation-duration: 0.3s;
    border-radius: 36px 36px 0 0;
}

.modal-header {
    text-align: center;
    padding: 2px 16px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    text-align: center;
    padding: 2px 16px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 8px;
}

th {
    text-align: left;
}

.text-right {
    text-align: right;
}
/* Report Page */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
}

.header-item {
    text-align: center;
    flex-grow: 1;
    padding: 12px 8px 12px 8px;
    font-weight: 400;
    font-size: 12px;
}
.header-item.active {
    font-weight: 700;
    color: #FF6400;
    border-bottom: 1px solid;
}

.chart-container {
    width: 100%;
    margin: 20px;
}

.info-box-container {
    display: flex;
    width: 95%;
    height: 250px; /* Adjust the height as needed */
    background-color: #F2F2F7;
    padding: 12px;
    margin-top: 10px;
}
.second {
    height: auto;
    margin-top: 10px;
}
.txt-left {
    text-align: left;
}
.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%; /* Set the basis for the left column */
    height: 100%;
}
.right-column {
    flex-basis: 50%; /* Set the basis for the left column */
    height: 100%;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin: 5px;
    box-sizing: border-box; /* Makes sure the padding and border are included in the total width and height */
    border-radius: 4px;
    text-align: center;
}
.box-content-top {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.box-content-mid {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.box-content-bottom {
    font-weight: 400;
    font-size: 10px;
    padding: 5px;
}
.small-box {
    height: calc(50% - 10px);
    background: hsla(24, 100%, 50%, 1);
    padding-top: 10px;
}
.small-box.light {
    background: hsla(20, 91%, 70%, 1);
}
.gradient {
    background: linear-gradient(353.45deg, #F22F2F -3.2%, #721A88 98.43%);

}
.large-box {
    flex-grow: 2; /* Allows the large box to grow and fill the remaining space */
    height: calc(100% - 10px); /* Adjusting for the margin */
    background-color: #007AFF;
}
.footer-box-container {
    padding: 12px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.footer-box-title {
    font-size: 28px;
    font-weight: 700;
}

.footer-box-content {
    padding: 16px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 6px;
    border: 1px solid #E5E5EA
}
.age-list {
    display: inline-flex;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: -4vw 0 0 10.7vw;
    list-style: none;
    top:-5px

}

.age-list:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 4px;
    margin: 0 auto;
    width: calc(100% - 10px);
    height: 6px;
    background: #F2F2F7;
    z-index: -1;
}

.age-list li {
    margin-right: 11vw;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    padding-top: 18px;
    padding-left: 0;
    padding-bottom: 0;
    width: 10px;
    text-align: center;
}

.age-list li:last-child {
    margin-right: 0;
}

.age-list li:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: 14px;
    height: 14px;
    background: #D1D1D6;
    border-radius: 50%;
}

.age-list li.active:before {
    background: linear-gradient(to bottom, #F22F2F 0%, #721A88 100%);
}

@media only screen and (min-width: 320px) {
    .age-list {
        margin: -4vw 0 0 14.7vw;
    }
}
@media only screen and (min-width: 375px) {
    .age-list {
        margin: -4vw 0 0 11.7vw;
    }
    .age-list li {
        margin-right: 10.5vw;
    }
}
@media only screen and (min-width: 425px) {
    .age-list {
        margin: -4vw 0 0 11.7vw;
    }
    .age-list li {
        margin-right: 11vw;
    }
}
@media only screen and (min-width: 768px) {
    .age-list {
        margin: -4vw 0 0 7.7vw;
    }
    .age-list li {
        margin-right: 13.5vw;
    }
}
.custom-tooltip {
    background: #8E8E93;
    color: white;
    padding: 10px 10px 0px 10px;
    position: absolute;
    left: calc(50% - 100px);
    border-radius: 8px;
    width: auto;
    z-index: 1;
    font-size: 14px;
    font-weight: 300;
}
.custom-tooltip ul {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
}
.custom-tooltip li:before {
    content: "- ";
    text-indent: -5px;
}
.custom-tooltip.gradient {
    background: linear-gradient(353.45deg, #F22F2F -3.2%, #721A88 98.43%);
}
.font-light {
    font-size: 14px;
    font-weight: 300;
}